/// Forms

// Forms > Labels
form label {
  display: block;
  padding-bottom: $gutter;
}

// Forms > Text Inputs & Textareas
form input:focus,
form textarea:focus {
  outline: none
}
form input::-moz-focus-inner { // NOTE: property needs to be separate
  outline: none;
}
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=number],
form input[type=tel],
form textarea {
  display: block;
  width: 100%;
  padding: ($gutter + 1) $gutter*2 ($gutter + 2);
  background: $white;
  border: 1px solid $white;
  border-radius: $default-border-radius;
  color: $grey-dark-color;
  -webkit-appearance: none;
}
form textarea {
  height: $gutter*10;
  max-width: 100%;
  resize: vertical;
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=number]:focus,
form input[type=tel]:focus,
form textarea:focus {
  border-color: $brand-color;
  border-width: 1px;
}

// Form > Placeholders
::-webkit-input-placeholder {
  color: $grey-light-color;
  font-weight: $base-font-weight;
}
:-moz-placeholder {
  color: $grey-light-color;
  font-weight: $base-font-weight;
}
::-moz-placeholder {
  color: $grey-light-color;
  font-weight: $base-font-weight;
}
:-ms-input-placeholder {
  color: $grey-light-color;
  font-weight: $base-font-weight;
}

// Forms > Text Inputs & Textareas > Errors
form input.error,
form textarea.error,
form input.error:focus,
form textarea.error:focus{
  border-color: $warn-color;
}

// Form > Selects
select {
  width: 100%;
  color: $grey-dark-color;
}

// Forms > Checkboxes & Radios
input[type=checkbox],
input[type=radio] {
  margin-right: $gutter;
}
input[type=checkbox] ~ label,
input[type=radio] ~ label {
  font-size: $base-font-size;
}
.checkbox,
.radio {
  overflow: hidden;
}
.checkbox input[type=checkbox],
.radio input[type=radio] {
  float: left;
  margin-top: $gutter/2;
  // NOTE: Browsers may pay attention to some or none of these:
  width:  $base-font-size;
  height: $base-font-size;
}

// Forms > Checkboxes & Radios > Faux Button
.faux-btn input[type=checkbox],
.faux-btn input[type=radio] {
  display: none;
}
.faux-btn label {
  position: relative;
  padding: ($gutter + 1) $gutter ($gutter + 2);
  border: 1px solid $text-color;
  border-radius: $default-border-radius;
  color: $text-color;
  font-family: $heading-stack;
  font-weight: $heading-bold-weight;
  text-align: center;
}
.faux-btn label:hover,
.faux-btn label:focus {
  cursor: pointer;
}
.faux-btn input[type=checkbox]:checked ~ label,
.faux-btn input[type=checkbox]:checked ~ label,
.faux-btn input[type=radio]:checked ~ label,
.faux-btn input[type=radio]:checked ~ label,
.faux-btn label.faux-selected {
  background-color: $brand-color;
  border-color: $brand-color;
  color: $white;
}

// Forms > Checkboxes & Radios > Faux Button > Text or Number input in a radio
.faux-btn label.with-input {
  padding: $gutter/2 $gutter $gutter/2;
}
.faux-btn label.with-input span + input {
  margin-left: $gutter/2;
}
.faux-btn label.with-input input[type=text],
.faux-btn label.with-input input[type=number] {
  display: inline-block;
  max-width: 79%; // NOTE: magic number depends on prefixed label
  padding: $gutter/2 $gutter $gutter/2;
}
