/// The Grid

.wrapper {
  width: 100%;
  max-width: $site-max-width;
  margin-left:  auto;
  margin-right: auto;
  padding-left:  $gutter;
  padding-right: $gutter;
  overflow: hidden;

  @include respond-to(med) {
    padding-left:  $gutter*2;
    padding-right: $gutter*2;
  }
}
.row {
  margin-left:  -$gutter;
  margin-right: -$gutter;
  overflow: hidden;

  @include respond-to(med) {
    margin-left:  -$gutter*2;
    margin-right: -$gutter*2;
  }
}
.row:before, .row:after {
  content: '';
  display: table;
}
.tuck-bottom {
  margin-bottom: 0;
}

// Grid > Columns all widths
@for $i from 1 through 12 {
  .sml-c#{$i},
  .med-c#{$i},
  .lrg-c#{$i} {
    position: relative;
    padding-left:  $gutter;
    padding-right: $gutter;
    min-height: 1px;

    @include respond-to(med) {
      padding-left:  $gutter*2;
      padding-right: $gutter*2;
    }
  }
}
@for $i from 1 through 11 {
  .sml-c#{$i},
  .med-c#{$i},
  .lrg-c#{$i} {
    float: left;
  }
}

// Grid > Small+ columns
@for $i from 1 through 11 {
  .sml-c#{$i} {
    width: 8.3333333333% * $i;
  }
}
@for $i from 0 through 11 {
  .sml-s#{$i} {
    margin-left: 8.3333333333% * $i;
  }
}
.sml-c12 {
  width: 100%;
}
.sml-no-pad {
  padding-left:  0;
  padding-right: 0;
}

// Grid > Medium+ Columns
@include respond-to(med) {
  @for $i from 1 through 11 {
    .med-c#{$i} {
      width: 8.3333333333% * $i;
    }
  }
  @for $i from 1 through 11 {
    .med-s#{$i} {
      margin-left: 8.3333333333% * $i;
    }
  }
  .med-c12 {
    width: 100%;
  }
  .med-no-pad {
    padding-left:  0;
    padding-right: 0;
  }
}

// Grid > Large+ Columns
@include respond-to(lrg) {
  @for $i from 1 through 11 {
    .lrg-c#{$i} {
      width: 8.3333333333% * $i;
    }
  }
  @for $i from 0 through 11 {
    .lrg-s#{$i} {
      margin-left: 8.3333333333% * $i;
    }
  }
  .lrg-c12 {
    width: 100%;
  }
  .lrg-no-pad {
    padding-left:  0;
    padding-right: 0;
  }
}

// Grid > Modifiers
.grid-center {
  margin-left:  auto;
  margin-right: auto;
  float: none;
}
.sml-pull-right {
  float: right;
}
.med-pull-right {
  @include respond-to(med) {
    float: right;
  }
}
.lrg-pull-right {
  @include respond-to(lrg) {
    float: right;
  }
}
.med-hide {
  @include respond-to-max(med) {
    display: none;
  }
}

// Flexbox Grid

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.flex-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.flex-row > * {
  flex: 1;
  margin-right: $gutter*2;
  min-width: 0;
}
.flex-row > *:last-child {
  margin-right: 0;
}
.sml-flex-col {
  flex-direction: column;
}
.med-flex-row {
  @include respond-to(med) {
    flex-direction: row;
  }
}
.lrg-flex-row {
  @include respond-to(lrg) {
    flex-direction: row;
  }
}
@for $i from 1 through 4 {
  .sml-flex-#{$i} {
    flex: $i;
  }
}
@include respond-to(med) {
  @for $i from 1 through 4 {
    .med-flex-#{$i} {
      flex: $i;
    }
  }
}
@include respond-to(lrg) {
  @for $i from 1 through 4 {
    .lrg-flex-#{$i} {
      flex: $i;
    }
  }
}
