/// Modifiers

// Modifiers > Borders

// TODO: use if needed
// .with-border {
//   border: 1px solid $grey-light;
// }
.is-rounded {
  border-radius: $default-border-radius;
}

// Modifiers > Fills

// TODO: use if needed
.fill-grey-light {
  background: $grey-light-color;
}
// .fill-white {
//   background: $white;
// }
// .fill-brand {
//   background: $brand-color;
// }
