/// Modifiers

// Modifiers > Borders

.with-border {
  border: 1px solid $grey-color;
}
.is-rounded {
  border-radius: $default-border-radius;
}

// Modifiers > Fills

.fill-top {
  background: $background-color url('~/assets/images/bg.jpg') top center no-repeat;
  background-size: cover;
}
.fill-grey-dark {
  background: $grey-dark-color;
}
.fill-brand {
  background: $brand-color;
}
// .fill-white {
//   background: $white;
// }
