// Setup: Variables & Mixins
//
// This file is injected into every Vue component and SCSS file

// Colors
$white:              #FFF;
$black:              #000;
$grey-light-color:   #515E77; // medium/light purple
$grey-color:         #574b74; // medium purple
$grey-dark-color:    #201B2C; // dark purple
$brand-color:        #26AFFF; // bright blue
$brand-dark-color:   darken($brand-color, 10%);
$background-color:   #171629; // darkest purple
$text-color:         $white;
$success-color:      #39C0A7; // green
$warn-color:         #FF4A4A; // red

$facebook-color:          #405993;
$facebook-dark-color:     darken($facebook-color, 10%);
$twitter-color:           #499FEC;
$twitter-dark-color:      darken($twitter-color, 10%);

$gradient-light-blue: #3AFFE3;
$gradient-blue: #3E93DA;
$gradient-purple: #9435E0;
$gradient-light-orange: #F1635A;
$gradient-orange: #FE5B2F;

$gradient-alt-blue: #1F5AD0;
$gradient-alt-purple: #681CB3;
$gradient-alt-orange: #A53B5B;

$default-gradient: linear-gradient(
  106deg,
  $gradient-blue 0%,
  $gradient-purple 29%,
  $gradient-light-orange 79%,
  $gradient-orange 100%
);

// Typography
$base-text-align: left; // switch for rtl
$sans-serif-stack: "Open Sans", Helvetica, Arial, sans-serif;
$heading-stack: "Poppins", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 300;
$bold-font-weight: 600;
$heading-bold-weight: 700;
$base-line-height: 1.6;

$font-size-1: 50px;
$font-size-2: 32px;
$font-size-3: 26px;
$font-size-4: 18px;
// $font-size-5: 14px;
$font-size-6: 12px;

$m-font-size-1: 30px;
$m-font-size-2: 24px;
$m-font-size-3: 20px;
$m-font-size-4: $base-font-size;
$m-font-size-6: 10px;

// Layout
$gutter: 10px;
$site-max-width: 1040px;

// Decoration
$default-transition: all 0.3s ease-in-out;
$default-border-radius: 5px;

// Media Query Mixins
$fix-mqs: false !default;

@mixin respond-to($content) {
  @if $fix-mqs {
    @if $content == med {
      $content: 900px;
    } @else if $content == sml {
      $content: 500px;
    }
    @if $fix-mqs >= $content {
      @content;
    }
  }
  @else {
    @if $content == lrg {
      @media only screen and (min-width: 900px) { @content; }
    } @else if $content == med {
      @media only screen and (min-width: 500px) { @content; }
    } @else if $content == sml {
      @media only screen and (min-width: 0px) { @content; }
    } @else {
      @media only screen and (min-width: $content) { @content; }
    }
  }
}

@mixin respond-to-max($content) {
  @if $content == lrg {
    @media only screen and (max-width: 1159px) { @content; }
  } @else if $content == med {
    @media only screen and (max-width: 899px) { @content; }
  } @else if $content == sml {
    @media only screen and (max-width: 499px) { @content; }
  } @else {
    @media only screen and (max-width: $content) { @content; }
  }
}
