/// Buttons

// Button > Animation
// NOTE: this mixin is a workaround because CSS animations can't be restarted
$step: 6%;
@mixin button-gradient-animation {
  @for $i from 0 through 10 {
    #{$i*10%} {
      background: linear-gradient(
        #{106 - ($i*6)}deg,
        #{$gradient-light-blue} 0%,
        #{$gradient-blue} #{$i*$step},
        #{$gradient-purple} #{$i*$step + 29%},
        #{$gradient-light-orange} #{$i*$step + 79%},
        #{$gradient-orange} 100%
      );
    }
  }
}

@keyframes cta-hover {
  @include button-gradient-animation;
}
@keyframes cta-mouseout {
  @include button-gradient-animation;
}

// Button > Default
.btn {
  display: inline-block;
  padding: $gutter $gutter*2;
  overflow: hidden;
  animation: cta-mouseout .2s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  background-color: $gradient-orange;
  background: linear-gradient(
    106deg,
    $gradient-blue 0%,
    $gradient-purple 29%,
    $gradient-light-orange 79%,
    $gradient-orange 100%
  );
  border: none;
  border-radius: $default-border-radius;
  color: $white;
  cursor: pointer;
  font-family: $heading-stack;
  font-size:  $font-size-3;
  font-weight: $bold-font-weight;
  letter-spacing: 3px;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
    -moz-user-select:    none;
    -webkit-user-select: none;
  user-select:           none;
  -webkit-appearance: none;

  @include respond-to(med) {
    padding-right: $gutter*6;
    padding-left:  $gutter*6;
  }
}
.btn:hover,
.btn:focus {
  animation: cta-hover .2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  background-color: $gradient-light-orange;
  border: none;
  color: $white;
}
button.btn {
  vertical-align: top;
}
.btn::-moz-focus-inner {
  outline: none;
  border: 0;
}

// Buttons > Block
.btn.btn-block {
  display: block;
  width: 100%;
}

// Buttons > Small
.btn.btn-sml {
  padding: ($gutter + 1) $gutter;
  font-size: $font-size-4;
  letter-spacing: 0;
}

// Buttons > Disabled
.btn:disabled,
.btn[disabled],
.btn:disabled:hover,
.btn[disabled]:hover,
.btn:disabled:focus,
.btn[disabled]:focus {
  animation: none;
  cursor: default;
  opacity: 0.6;
}

// Buttons > Sharing
.btn.btn-twitter {
  animation: none;
  background: $twitter-color;
}
.btn.btn-twitter:hover,
.btn.btn-twitter:focus {
  background: $twitter-dark-color;
  color: $white;
}
.btn.btn-facebook {
  animation: none;
  background: $facebook-color;
}
.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
  background: $facebook-dark-color;
  color: $white;
}
